* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
}

.upload{
  padding-top: 100px;
  line-height: 32px;
}

.uploading{
  display: flex;
  padding-top: 30px;
  align-items: center;
}

.react-slidedown.my-dropdown-slidedown {
  transition-duration: .1s;
  /* transition-timing-function: ease-in-out; */
}

#file {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 40px;
  display: block;
  opacity: 0;
  cursor: pointer;
}
